html,
body {
  height: 100%;
  margin: 0;
  color: white;
  font-family: monospace;
}
#c {
  width: 100%;
  height: 100%;
  display: block;
}
#ui {
  position: absolute;
  right: 1em;
  top: 1em;
  background: rgba(64, 64, 64, 0.8);
  padding: 0.5em;
}
#ui .axisgrid {
  display: flex;
  align-items: center;
}
#ui .axisgrid:nth-child(odd) {
  background: rgba(72, 72, 72, 0.8);
}
#ui .label {
  width: 8em;
  overflow: hidden;
  text-overflow: ellipsis;
}
#ui .checkbox {
  display: flex;
  align-items: center;
}
#errorBox {
  position: absolute;
  bottom: 0;
  background-color: salmon;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  width: 100%;
  overflow: none;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  max-width: 100vw;
  white-space: normal;
  overflow-wrap: break-word;
  opacity: 70%;
}
